@import "tailwindcss";

/* Hide scrollbar for slider */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.grain-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
  opacity: 0.04;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  mix-blend-mode: overlay;
}
